@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

.blog-section {
width: 100%;
}

.section-content {
    width: 85%;
    margin: 20px auto;
}

.title {
    width: 60%;
    text-align: center;
    margin: auto;
}

.title h2 {
    font-size: 40px;
    color: #23d25d;
    text-transform: uppercase;
}

.title p {
    font-size: 20px;
    color: #6a6a6a;
    margin-top: 20px;
}


.card {
    display:grid;
    grid-template-columns: repeat (3, 1fr);
    grid-gap: 50px;
    margin: 25px auto;
}